 .u-section-1 {
  background-image: linear-gradient(black, #db545a);
}

.u-section-1 .u-sheet-1 {
  min-height: 1590px;
}

.u-section-1 .u-image-1 {
  width: 134px;
  height: 134px;
  margin: 222px auto 0 55px;
}

.u-section-1 .u-text-1 {
  margin: -95px 625px 0 284px;
}

.u-section-1 .u-image-2 {
  width: 138px;
  height: 123px;
  margin: 95px auto 0 51px;
}

.u-section-1 .u-image-3 {
  width: 214px;
  height: 214px;
  margin: 0 auto 0 15px;
}

.u-section-1 .u-image-4 {
  width: 125px;
  height: 170px;
  margin: -23px auto 0 45px;
}

.u-section-1 .u-text-2 {
  margin: -455px auto 0 293px;
}

.u-section-1 .u-text-3 {
  margin: 148px auto 0 284px;
}

.u-section-1 .u-text-4 {
  margin: 139px auto 0 309px;
}

.u-section-1 .u-text-5 {
  margin: 200px 481px 60px 459px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 525px;
    margin-left: 184px;
  }

  .u-section-1 .u-text-2 {
    width: 200px;
  }

  .u-section-1 .u-text-5 {
    width: 200px;
    margin-left: 359px;
    margin-right: 381px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 415px;
    margin-left: 74px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 224px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 218px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 237px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 249px;
    margin-right: 271px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 309px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 168px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 164px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 178px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 159px;
    margin-right: 181px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-right: 109px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 106px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 103px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 112px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 59px;
    margin-right: 81px;
  }
}